<h1>Welcome to the Infinite Closet</h1>

<ul>
	<% items.each(function(item){ %>
		<div class='index-item'>
			<a class="item-link" data-id="<%= item.id %>" href='#'>
				<img src='<%= item.get("primary_photo").escape('image_url') %>' alt="photo-image" width="150" height="150">
				<br>
				Price: $<%= item.escape('current_price') %>, <%= item.escape('item_condition') %><br>
				<%= item.escape('brand') %>
			</a>
		</div>
	<% }); %>
</ul>