<h1><div class='modal-header'><%= item.escape('brand') + item.escape('material') %></div></h1>

<div class="modal-body">
<% photos.each(function(photo){ %>
	<% if(photo.escape('primary_photo') == false){ %>
		<a href="#"><img class="photo-show extra-photo" src="<%= photo.escape('image_url') %>" alt="photo-image"></a>
	<% } else { %>
		<img class="photo-show primary-photo" src="<%= photo.escape('image_url') %>" alt="photo-image">
<% }}); %>

Price: $<%= item.escape('current_price')%><br>
Original Price: $<%= item.escape('original_price')%><br>
Brand: <%= item.escape('brand')%><br>
Size: <%= item.escape('size')%><br>
Item Condition: <%= item.escape('item_condition')%><br>
Delivery type: <%= item.escape('delivery_type')%><br>
</div>
<div class="modal-footer">
<button class="btn modal-close" data-dismiss="modal" aria-hidden="true">Close</button>
</div>