<div class='topspacing'><div>
<div id="content centered">


	<span ><h1 class=centered> List your item </h1>
	<br>

	<%= form_for @item, url: {action: "create"}, :html => {:multipart => true} do |f| %>

		<!--  f.error_messages :header_message  =>  "Listing was not published.", :header_tag =>  :h5 -->
		<ul class='centered'> 
			<h2>1. Select a category</h2>

			<% @categories.each do |category| %>

				<li class='category' id='<%= category.name %>' cat-id='<%= category.id %>'> 
					<img src="<%= category.image_url %>" style="position: relative top: 50%; height: auto; width: 100px;">
					<br>
					<%= category.name %> 
				</li>

			<% end %>
		</ul>

		<% 2.times do |i| %>
			<br>
		<% end %>

		<ul class='centered'>
			<h2>2. Select a picture</h2>
			<br>
			<b>Must upload at least one primary picture</b>
			<br>
			<br>
			<div class="field">
				<%= render :partial => 'form', :locals => {:f => f} %>		
			</div>
			<div class="photo-preview"></div>
		</ul>

		<% 3.times do |i| %>
			<br>
		<% end %>

		<ul>
			<h2 class='centered'>3. Fill in the details</h2>
			<div class='all-forms centered'>
				<div class='form-field'>
					<%= f.label :brand %>
					<%= f.text_field :brand %>
				</div> 
				<div class='form-field'>
				<%= f.label :size %>
				<%= f.text_field :size %>
				</div>
				<div class='form-field'>
				<%= f.label :item_condition %> <!-- convert this to radio later -->
				<%= f.text_field :item_condition %>
				</div>
				<div class='form-field'>
				<%= f.label :original_price %>
				<span class="input-prepend">
					<span class="add-on">$</span><%= f.number_field :original_price, :class => 'price btn', :value => (number_to_currency(f.object.original_price, :unit => "$", precision: 2)) %>
				</span>
				</div>
				<div class='form-field'>
				<%= f.label :current_price %>
				<span class="input-prepend">
					<span class="add-on">$</span><%= f.number_field :current_price, :class => 'price btn', :value => (number_to_currency(f.object.current_price, :unit => "$")) %>
				</span>
				</div>
				<br>
				<div class='form-field'>
				<%= f.label :additional_info, "Additional Info (optional)" %>
				<%= f.text_area :additional_info, size: "24x6" %>
				</div>
			</div>
			<% 16.times do |i| %>
				<br>
			<% end %>
		</ul>
		<ul class='box-size centered'>
			<h2>4. Select Delivery Type</h2>
			<br>
			<div class="shipping-btn-group btn-group btn-group-horizontal">
				<div data-delivery-type="shipping" class="m-btn delivery-type-btn blue">
					Shipping</div>
				<div data-delivery-type="pickup" class="m-btn delivery-type-btn">
					Pickup</div>
			</div>
			<br>
			<br>
	
			<pre class='delivery-info all-forms centered'>
				<h1>I'll ship this item to the buyer</h1>You will need to pay Infinite Suits for a pre-paid satchel. USPS rates start from $3.59. When you spend your gold, the seller will pay for shipping to you!
			</pre>
			<pre class='delivery-info all-forms centered hidden '>
				<h1>The buyer can pickup this item from me (FREE!)</h1> Please select your location. The exact address will not be displayed to the public.
			</pre>
			<input type="hidden" id="delivery_type" value="shipping" name="item[delivery_type]"> 
			<input type="hidden" id="category-id" value="" name="item[category_id]">
		
		</ul><br>
		<div>
			<ul class='centered'><%= f.submit 'Create Listing', :class => 'm-btn black' %><span>  <%= link_to 'cancel', root_url, :class => 'm-btn red' %></span></ul>
		</div>

	
	<% end %>
	<ul class='centered'>
		<%= link_to 'Back', root_url, :class => 'btn btn-link' %>
	</ul>
</div>

<script>
	// $(document).ready(function(){
	//   InfiniteShirts.InitializeNewListing();
	// });
	
	$(".category").click(function(event){
		$('.category').removeClass('outlined');
		$(this).toggleClass('outlined');
		var cat = $(this).attr('cat-id');
		$('#category-id').attr('value', cat);
	});
	
	$(".delivery-type-btn").click(function(event){
	    $('.delivery-type-btn').removeClass('blue');
	    $(this).toggleClass('blue');
	    var type = $(this).attr('data-delivery-type');
	    $('#delivery_type').attr('value', type);
	    $('.delivery-info').toggleClass('hidden');
	});
	
	// $(function () {
	//     $('#fileupload').fileupload();
	// });
	// 
	
	
	
</script>
