<!DOCTYPE html>
<html>
<head>
  <title>InfiniteShirts</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
 
</head>
<body>
    <div class="navbar navbar-fixed-top">
       <div class="navbar-inner">
         <div class="container">
           <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </a>
       		<a class="brand" href="<%= root_url %>"><img src='http://99dresses.com/static/TunSKz9sgXyokfcZCIi4Mv6NuOZZBaglJupT1YToGjU.png'></a>
           <div class="nav-collapse">
             <ul class="nav">
               <li><%= link_to "Browse Products", root_url %></li>
               <li><%= link_to "List your Item", new_item_url %></li>
               <li><%= link_to "Shopping Cart" %></li>
				<% if user_signed_in? %>
				  <li><img src="<%= current_user.profile_pic.url unless current_user.profile_pic.nil?%>" width="25" height="25"></li>
				  <li><%= drop_down current_user.email do %>
					    <%= menu_item "Account information", edit_account_url %>
				  		<%= menu_item "Log out", destroy_user_session_url, :method => :delete %>
				  </li>
				  <% end%>
				<% else %>
				<li><%= link_to "Log In", root_url %></li>
				<% end %>

             </ul>
           </div>
         </div>
       </div>
     </div>

<%= yield %>

</body>
</html>
